{% extends 'index.html' %}

{% load static %}

{% block main %}

    <form method="post" class="mb-4">
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <button type="submit" class="btn bnt-success">Accept</button>
    </form>

{% endblock %}