{% extends 'index.html' %}

{% block main %}
    <form method="post">{% csrf_token %}
        <p>Are you sure you want to delete the appointment of {{ appointment.hours }} hours in {{ appointment.project }} project in {{ appointment.date }} ?</p>
        <input type="submit" value="OK">
    </form>

{% endblock %}