{% extends "base_generic.html" %}

{% block content %}

    <h1>Welcome to the BairesDev TimeTracker.</h1>
    <h6>Powered by BairesDev.</h6>
    <br />
    <p>
        Login with your username and password.<br />
        If you have any problem, raise a Support Request in <a target="_blank" href="https://bairesdev.atlassian.net/servicedesk">Service Desk</a>.<br />
        If you want to change your password, <a href="CambiarClave.aspx">click here</a>.
    </p>
  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

    <div class="boxgray">
    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="login-form-cont form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label">
                {{ form.username.label_tag }}
            </label>
            <div class="col-sm-9">
                {{ form.username }}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                {{ form.password.label_tag }}
            </label>
            <div class="col-sm-9">
                {{ form.password }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <input type="submit" name="ctl00$ContentPlaceHolder$LoginButton" value="Login" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$ContentPlaceHolder$LoginButton&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, false))" id="ctl00_ContentPlaceHolder_LoginButton" class="btn-blue" />
                <input type="hidden" name="next" value="{{ next }}" />
            </div>
        </div>
    </div>

  </form>

  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">Lost password?</a></p>


{% endblock %}